/* Navigation Bar 뜝룞삕Style */

.L2PNavBarItemLi {
	display: inline-block;
  	padding :0 5px 0 5px;
}

.L2PNavBarItem {
  	color: #666666;
  	line-height: 25px;
  	font-weight: normal;
  	cursor: pointer;
  	font-size : 0.875rem;
  	font-family: 'Malgun Gothic';
}

.L2PNavBarItemClick {
  	font-weight: bold !important;
}

.L2PNavBarItemUnClick {
  	font-weight: normal;
}

.L2PNavBarItemList {
	margin: 0;
  	padding: 0;
  	display: inline-block;
  	position: absolute;
  	left: 0;
  	right: 6px;
  	height: 27px;
  	overflow: hidden;
  	white-space: nowrap;
}
.L2PNavBar {
/* 	border-bottom: 0 solid #007cc0; */
	background-color : #ffffff;
  	text-transform: none;
	display: block;
  	position: relative;
  	overflow: hidden;
  	height: 27px;
}

.L2PNavBarBack {
	background-image: url(/sap/bc/ui5_ui5/sap/ZUI5_HR_HCOMMON/images/icon_l.png);
	display: block;
	color: transparent;
 	font-size: 0;
  	height: 18px;
  	width: 18px;
  	background-position: 4px 3px;
  	right: 50px;
  	position: absolute;
  	top: 2px;    		
  	font-weight: bold;
  	padding: 2px;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	text-decoration: none;  	
}

.L2PNavBarForward {
	background-image: url(/sap/bc/ui5_ui5/sap/ZUI5_HR_HCOMMON/images/icon_r.png);
	display: block;
	color: transparent;
 	font-size: 0;
  	height: 18px;
  	width: 18px;
  	background-position: 4px 3px;
  	right: 26px;
  	position: absolute;
  	top: 2px;    		
  	font-weight: bold;
  	padding: 2px;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	text-decoration: none;
}

.L2PNavBarMenu {
	background-image: url(/sap/bc/ui5_ui5/sap/ZUI5_HR_HCOMMON/images/table.gif);
	display: block;
	color: transparent;
 	font-size: 0;
  	height: 18px;
  	width: 18px;
  	background-position: 4px 3px;
  	right: 0px;
  	position: absolute;
  	top: 2px;    		
  	font-weight: bold;
  	padding: 2px;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	text-decoration: none;
  	cursor: pointer;
}

.L2PNavBarBtnActive {
	opacity: 1.0;
  	filter: none;
  	cursor: pointer;	
}

.L2PNavBarBtnInactive {
	opacity: 0.5;
  	filter: alpha(opacity=50);
  	cursor: default;
}

.L2PNavBarPopupDiv {
	width : 150px;
	display : none;
	position: absolute;
	border : 1px solid #cccccc;
	background-color : #ffffff;
	padding : 5px;
	overflow-y : auto;
	overflow-X : hidden;
	max-height : 50%;
}

.L2PNavBarItemListPopup {
	width : 150px;
  	cursor: pointer;
}

.L2PNavBarItemListPopup:hover {
  	background-color : #dddddd;
  	color : #000000;
}

.L2PNavBarItemPopup {
	width : 150px;
  	color: #666666;
  	font-weight: normal;
  	line-height: 25px;
  	cursor: pointer;
  	font-size : 0.875rem;
  	font-family: 'Malgun Gothic';
}

.L2PNavBarItemPopup:hover {
  	color : #000000;
}