/* Switch Bar 琠쇱벥 Style */

.L2PSwitch {
	border: 1px solid #dddddd;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    overflow: hidden;
    position: relative;
    outline: none;
    touch-action: pan-y;
    padding-top : 0.1rem;
    cursor : pointer;
}

.L2PSwitch:hover {
	border-color: #9a9a9a;
}

.L2PSwitchInner {
  	position: absolute;
}

.L2PSwitchHandleOff {
  	background-color : #ffffff;
} 

.L2PSwitchHandleOn {
  	background-color : #9a9a9a;
}

.L2PSwitchHandle {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top : 0.1rem;
}

.L2PSwitchText {
  	position: absolute;
  	text-align: center;
  	font-size: 0.58rem;
    width: 100%;
    line-height: 1.0rem;
}

.L2PSwitchLabel {
    display: block;
    width: 1.675rem;
    padding: 0 0.1875rem;
    text-transform: uppercase;
    line-height: inherit;
}
