@charset "utf-8";
/*
------------------------------------------------------------
Project Name: L2P CO., LTD
file name: L2PSAP.css
Author: Yeonjun.kang
date: 2016.06.23 
SAP CSS overriding
------------------------------------------------------------*/
/* IconFilterTabbar All 너비 조정*/
.sapMITBAll{
	width : 95px;
	font-size : 0.875rem;
	font-family: 'Malgun Gothic' !important;
}
/* IconFilterTabbar Content Bottom 삭제*/
.sapMITBContent{
	border-bottom : 0px solid !important;
}
/* IconFilterTabbar Filter 간격 조정*/
.sapMITBFilter{
	margin-left : 50px !important;
	margin-right : 40px !important;
}
/* Panel Bottom 삭제*/
.sapMPanelContent:not(.sapMPanelBGTransparent){
	border-bottom : 0px solid !important;
}
/* Matrix cell padding 삭제 */
.sapUiMltPadRight{
	padding : 0px;
}
/* Button Text font */
.sapMBtnInner{
	font-size: 0.875rem;
	font-family: 'Malgun Gothic' !important;
}
/* Input Enabled Text font 조정 */
.sapMInputBaseInner{
	font-size: 0.875rem;
	font-family: 'Malgun Gothic' !important;	
}

/* sap.m.dialog Text font 조정 */
.sapUiSizeCompact .sapMILILabel{
	font-size: 0.875rem;
	font-family: 'Malgun Gothic' !important;	
}
/* select box text font 조정 */
.sapMSlt>.sapMSltLabel{
	font-size: 0.875rem !important;
	font-family: 'Malgun Gothic' !important;	
}

.sapUiSizeCompact .sapMListTblCell.sapMListTblCellNoData{
	font-size: 0.875rem;
	font-family: 'Malgun Gothic' !important;	
}

.sapMListTblCell.cellBorderRight {
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
}
 
.sapMListTblCell.cellBorderLeft {
	border-left: 1px solid #aaaaaa;
}

.sapMListTblCell.cellBorderTop{
	border-top: 1px solid #e5e5e5;
}

.sapMListTblFooter>td {
	border-top : 0px solid !important;
	border-bottom : 1px solid #aaaaaa !important;
}

/* .sapMListTblCell.cellBorderRight { */
/* 	border-right: 1px solid #aaaaaa; */
/* } */

/* .sapMListTblFooter>td { */
/* 	border-top : 0px solid !important; */
/* 	border-bottom : 0px solid #aaaaaa !important; */
/* 	border-right: 0px solid #aaaaaa !important; */
/* } */
.sapUiSizeCompact .sapMListTblCell.sapMListTblCellNoData{
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
}

.sapUiSizeCompact .sapMListTblSelCol{
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
}

.sapMListTblCell{
	font-size: 0.875rem;
	font-family: 'Malgun Gothic' !important;	
}

.sapMText{
	font-family: 'Malgun Gothic' !important;
}
/* Messagetrip 줄맞춤*/
.sapMMsgStripIcon{
	top : 0.45rem !important;
}
/* MatrixLauout Content 의 padding 삭제 */
.sapMITBContent{
	padding : 0px !important;
}
/* sap.m.Panel padding 조절*/
.sapMPanelContent{
	padding : 0.5rem !important;
}
/* Toolbar bottom line 제거 */
.sapMTB{
	border-bottom-width : 0px !important;
}
/* ProgressIndicator Value Text 조절*/
.sapMPIText{
 	font-family: 'Malgun Gothic' !important; 
    font-size: 13px !important;
	font-weight : normal !important;
	color: rgb(217, 217, 217) !important;
}