

.L2PPersonCardLayout {
	border:1px solid #d9d9d9;;
	background-color: #fafafa;
/* 	border-radius:8px; */
/* 	border:1px solid rgb(210, 210, 210); */
/* 	background-color:rgb(250, 250, 250); */
	padding-top: 5px;
/* 	padding-bottom: 5px; */
	vertical-align: top; 
/* 	box-shadow: 1px 1px 1px 1px #DDDDDD; */
/* 	box-sizing:border-box; */
	margin-bottom: 15px;
	margin-right: 15px;
	cursor : pointer;
	height : 117px;
}

.L2PPersonTable {
	width : 100%;
}

.L2PPersonCardPicture {
	width : 70px;
	height : 90px;
}

.L2PPersonCardText15Bold {
	padding-left:10px;
	font-size: 15px !important;  
    font-family: 'Malgun Gothic' !important;
    color : #000000;
    font-weight : bold;
    height : 21px;
}

.L2PPersonCardTextBold {
	padding-left:10px;
	font-size: 13px !important;  
    font-family: 'Malgun Gothic' !important;
    color : #000000;
    font-weight : bold;
    height : 21px;
}

.L2PPersonCardText {
	padding-left:10px;
	font-size: 0.875rem !important;  
    font-family: 'Malgun Gothic' !important;
    color : #000000;
    height : 21px;
}